<header
  class="text-white p-4 mb-20 mx-auto backdrop-blur-[30px] shadow-lg shadow-blue-300/30 w-full"
>
  <div class="container mx-auto flex items-center justify-between max-md:flex-col">
    <div class="flex items-center gap-2 text-xl text-center max-lg:hidden">
      <span class='text-white/50 text-base'>Developed by </span>
      <span class='animate-pulse'>👉</span>
      <a href="https://volodymyrcodepro.site/" class='text-color-pink font-bold drop-shadow-lg underline' target="_blank noopener">
        Volodymyr | CodePro</a>
    </div>
    <h1 class="text-2xl font-bold text-center uppercase max-lg:mb-2">Currency Converter</h1>
    <div class="flex items-center gap-4">
      <div class="flex items-center gap-2">
        <img class="w-12" src="assets/icons/usa.svg" alt="" />
        <span class="text-xl"
          >USD: {{ exchangeRates["USD"] | number : "1.2-2" }}
        </span>
      </div>
      <div class="flex items-center gap-2">
        <img class="w-12" src="assets/icons/euro.svg" alt="" />
        <span class="text-xl"
          >EUR: {{ exchangeRates["EUR"] | number : "1.2-2" }}
        </span>
      </div>
    </div>
  </div>
</header>
